<div class = 'jumbotron'>
	<div class = 'container' >
		<h1>Welcome, </h1>
		<p>This is the most awesome message board you have ever seen <big>Check it out!!!</big> </p>
		<a class= "btn btn-primary btn-lg" href="post/new">Create a new post</a>
		<%= link_to "Post List", user_posts_path, class: "btn btn-info btn-lg" %>
	</div>
</div>
<div class = 'jumbo'>
	<div class = 'container' >
		<h1>How does it works</h1>
		<div class="row">

		</div>
	</div>
</div>