<div style="display: inline-block;" class=" pull-right">
	<span class= "glyphicon glyphicon-thumbs-up badge ">
		<%= post.positive_vote_count %>
	</span> <br>
	<span class= "glyphicon glyphicon-thumbs-down badge ">
		<%= post.negative_vote_count %>
	</span>
</div>